openapi: 3.1.1
info:
  title: 'IoT Software Suite: Admin API'
  version: '61'
  description: |-
    Care Daily offers a full Command Center to engage your customers and manage IoT services, and access to social engagement layers.

    A component of the [IoT Software Suite](cloud.html) solution,
    the Command Center and the social engagement layers are the missing link for service providers to deliver truly compelling IoT services.

    The APIs described below follow the same principals as the rest of the [IoT Software Suite Application APIs](cloud.html).

servers:
  - url: https://app.peoplepowerco.com/
    description: US production
  - url: https://eu.caredaily.ai/
    description: EU production
  - url: https://sboxall.peoplepowerco.com/
    description: Sandbox

paths:
  /admin/json/brands:
    get:
      summary: Get Brands
      operationId: Get Brands
      description: Returns all supported brands. Available only to administrators with `access all` privilege.
      tags:
        - Organizations
      security:
        - adminApiKey: []
      responses:
        '200':
          description: Brands
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  brands:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Brand's name
              example:
                resultCode: 0
                brands:
                  - name: default
                  - name: care


  /admin/json/organizations:
    get:
      summary: Get Organizations
      operationId: Get Organizations
      description: Retrieve organizations information. API key is optional.
      tags:
        - Organizations
      security:
        - userApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: Search field - Specific organization ID to get information about
          schema:
            type: integer
        - name: domainName
          in: query
          description: Search field - Exact domain name
          schema:
            type: string
        - name: name
          in: query
          description: Search field - First characters of organization name
          schema:
            type: string
      responses:
        '200':
          description: Organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  organizations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Unique organization ID
                        parentId:
                          type: integer
                          description: ID of the parent organization
                        name:
                          type: string
                          description: Name of the organization
                        domainName:
                          type: string
                          description: Unique short name
                        brand:
                          type: string
                          description: Brand name
                        updateDate:
                          type: string
                        updateDateMs:
                          type: integer
                        organizationAdmin:
                          type: boolean
                          description: If the user is an administrator of this organization
                        parentAdmin:
                          type: boolean
                          description: If the user is an administrator of the parent organization
                        organizationEditor:
                          type: boolean
                          description: If the user can update this organization
                        locked:
                          type: boolean
                          description:
                        features:
                          type: string
                          description: Available features for this organization:<br>m - messages<br>c - challenges
                        deviceTypes:
                          type: string
                          description: Types of devices managed in this organization
                        termOfService:
                          type: string
                          description: Terms of Service agreement signature ID
                        timezone:
                          type: object
                          description: Default organization time zone
                          properties:
                            id:
                              type: string
                              description: Time zone ID
                            offset:
                              type: integer
                              description: Timezone offset in minutes
                            dst:
                              type: boolean
                              description: Daylight saving time enabled
                            name:
                              type: string
                              description: Timezone name
                        contactName1:
                          type: string
                          description: Contact name 1
                        contactEmail1:
                          type: string
                          description: Contact email 1
                        contactPhone1:
                          type: string
                          description: Contact phone 1
                        contactName2:
                          type: string
                          description: Contact name 2
                        contactEmail2:
                          type: string
                          description: Contact email 2
                        contactPhone2:
                          type: string
                          description: Contact phone 2
                        addrStreet1:
                          type: string
                          description:
                        addrStreet2:
                          type: string
                          description:
                        addrCity:
                          type: string
                          description:
                        state:
                          type: object
                          description:
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            timezoneId:
                              type: string
                            abbr:
                              type: string
                        country:
                          type: object
                          description:
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        zip:
                          type: string
                          description:
                      required:
                        - id
                        - name
                        - updateDate
                        - updateDateMs
                        - organizationAdmin
                        - parentAdmin
                        - organizationEditor
              example:
                resultCode: 0
                organizations:
                  - id: 1
                    name: Care Daily Cloud
                    domainName: CDC
                    brand: care
                    updateDate: '2016-04-12T23:30:15Z'
                    updateDateMs: 1460503815000
                    organizationAdmin: true
                    parentAdmin: false
                    organizationEditor: false
                    features: g,p,m,c
                    deviceTypes: 123,124,125
                    termOfService: CDC.2023
                    addrStreet1: 123 Prospect St, Apt. 456
                    addrStreet2: ''
                    addrCity: Palo Alto
                    state:
                      id: 1
                      name: California
                      timezoneId: US/Pacific
                      abbr: CA
                    country:
                      id: 1
                      name: United States
                    zip: '12345'
                    locked: true
                  - id: 2
                    name: Customer Name
                    domainName: customer
                    parentId: 1
                    updateDate: '2016-04-12T23:30:15Z'
                    updateDateMs: 1460503815000
                    organizationAdmin: true
                    parentAdmin: true
                    organizationEditor: false
                    features: g,p,m
                    deviceTypes: 123,124,125
                    addrStreet1: Test address
                    addrStreet2: Test Address
                    addrCity: ''
                    state:
                      id: 5
                      name: California
                      timezoneId: US/Pacific
                      abbr: CA
                    country:
                      id: 1
                      name: United States
                    zip: '31300'

    post:
      summary: Create an Organization
      operationId: Create an Organization
      description: >-
        Organizations can be created inside other organizations by users with "organization administrator" permission in the parent organization.
        Users with both "access all" and "organization administrator" permissions can create top level organizations.
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: The parent organization ID, where a sub-organization has to be created
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              organization:
                name: Care Daily
                domainName: caredaily.ai
                brand: presence
                features: g,p,m
                deviceTypes: 123,124,125
                termOfService: CDC.2023
                contactName1: Admin
                contactEmail1: admin@caredaily.ai
                contactPhone1: 123-456-7890
                contactName2: Manager
                contactEmail2: manager@caredaily.ai
                contactPhone2: 123-456-7890
                officePhone: 123-456-7890
                addrStreet1: 123 Prospect St, Apt. 456
                addrStreet2: ''
                addrCity: Palo Alto
                state:
                  id: 1
                country:
                  id: 1
                zip: '12345'
            schema:
              type: object
              properties:
                organization:
                  type: object
                  properties:
                    name:
                      type: string
                    domainName:
                      type: string
                    brand:
                      type: string
                    features:
                      type: string
                    deviceTypes:
                      type: string
                    termOfService:
                      type: string
                    timezone:
                      type: object
                      description: Default organization time zone
                      properties:
                        id:
                          type: string
                          description: Time zone ID
                    contactName1:
                      type: string
                    contactEmail1:
                      type: string
                    contactPhone1:
                      type: string
                    contactName2:
                      type: string
                    contactEmail2:
                      type: string
                    contactPhone2:
                      type: string
                    officePhone:
                      type: string
                    addrStreet1:
                      type: string
                    addrStreet2:
                      type: string
                    addrCity:
                      type: string
                    state:
                      type: object
                      properties:
                        id:
                          type: integer
                    country:
                      type: object
                      properties:
                        id:
                          type: integer
                    zip:
                      type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  organizationId:
                    type: integer
              example:
                resultCode: 0
                organizationId: 123

    put:
      summary: Update Organization
      operationId: Update Organization
      description: ''
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: The Organization ID to update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              organization:
                name: Care Daily
                domainName: caredaily.ai
                brand: presence
                features: g,p,m
                deviceTypes: 123,124,125
                termOfService: CDC.2023
                contactName1: Admin
                contactEmail1: admin@caredaily.ai
                contactPhone1: 123-456-7890
                contactName2: Manager
                contactEmail2: manager@caredaily.ai
                contactPhone2: 123-456-7890
                officePhone: 123-456-7890
                addrStreet1: 123 Prospect St, Apt. 456
                addrStreet2: ''
                addrCity: Palo Alto
                state:
                  id: 1
                country:
                  id: 1
                zip: '12345'
            schema:
              type: object
              properties:
                organization:
                  type: object
                  properties:
                    name:
                      type: string
                    domainName:
                      type: string
                    brand:
                      type: string
                    features:
                      type: string
                    deviceTypes:
                      type: string
                    termOfService:
                      type: string
                    timezone:
                      type: object
                      description: Default organization time zone
                      properties:
                        id:
                          type: string
                          description: Time zone ID
                    contactName1:
                      type: string
                    contactEmail1:
                      type: string
                    contactPhone1:
                      type: string
                    contactName2:
                      type: string
                    contactEmail2:
                      type: string
                    contactPhone2:
                      type: string
                    officePhone:
                      type: string
                    addrStreet1:
                      type: string
                    addrStreet2:
                      type: string
                    addrCity:
                      type: string
                    state:
                      type: object
                      properties:
                        id:
                          type: integer
                    country:
                      type: object
                      properties:
                        id:
                          type: integer
                    zip:
                      type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    delete:
      summary: Delete Organization
      operationId: Delete Organization
      description: ''
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: The Organization ID to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/organizations/{organizationId}/objects:
    get:
      summary: List Objects and Properties
      operationId: List Objects and Properties
      description: |-
        Retrieve all large objects and small properties by the organization.
        Anyone can call it.

        Private records are turned only for administrators.
      tags:
        - Organizations
      security:
        - userApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Objects and Properties
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  organizationObjects:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        contentType:
                          type: string
                        privateContent:
                          type: boolean
                        parent:
                          type: boolean
                        value:
                          type: string
                      required:
                        - name
                        - privateContent
                        - parent
              example:
                resultCode: 0
                organizationObjects:
                  - name: logo
                    contentType: image/png
                    privateContent: false
                    parent: false
                  - name: backgroundColour
                    privateContent: false
                    value: '777'
                    parent: true

    post:
      summary: Set Properties
      operationId: Set Properties
      description: |-
        Update organization property values.
        Only administrator can call it.
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              organizationObjects:
                - name: backgroundColour
                  privateContent: false
                  value: '777'
            schema:
              type: object
              properties:
                organizationObjects:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      privateContent:
                        type: boolean
                      value:
                        type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/organizations/{organizationId}/objects/{objectName}:
    put:
      summary: Upload Large Object
      operationId: Upload Large Object
      description: |-
        These APIs allow to store large binary or text objects like images, videos and email templates for an organization.

        This API is only available to organization administrators or organization bots.

        The `Content-Type` header must be like `video/*`, `image/*`, `text/plain`, `application/octet-stream` or  `application/json`
        (see https://en.wikipedia.org/wiki/Internet_media_type for possible exact values).
        For example: `video/mp4`, `image/jpeg`, `audio/mp3`.

        The object content gets uploaded as a binary stream.
      tags:
        - Organizations
      security:
        - adminApiKey: []
        - botApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: objectName
          in: path
          description: Object name
          required: true
          schema:
            type: string
        - name: private
          in: query
          description: Set to true, if the object is private
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    get:
      summary: Get Object Content
      operationId: Get Object Content
      description: |-
        Return the previously uploaded object content.

        Private objects content is available only for organization administrators.
        Public objects content is available for any user.
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: objectName
          in: path
          description: Object name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            image/png:
              example: |
                Object content

    delete:
      summary: Delete Object
      operationId: Delete Object
      description: ''
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: objectName
          in: path
          description: Object name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/organizations/{organizationId}/secrets/{secretName}:
    put:
      summary: Put an Organization Secret
      operationId: Put Organization Secret
      description: >-
        Create or update an organization named secret value.
        The value will be stored encrypted.
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: secretName
          in: path
          required: true
          description: Secret value name, maximum 50 characters.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              secretValue: ABC123
            schema:
              type: object
              properties:
                secretValue:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    delete:
      summary: Delete an Organization Secret
      operationId: Delete Organization Secret
      description: Delete an existing secret value.
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: secretName
          in: path
          required: true
          description: Secret value name
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

  /admin/json/organizations/{organizationId}/secrets:
    get:
      summary: Get Organization Secret Names
      operationId: Get Organization Secret Names
      description: List all existing secret names
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Secret names
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  secretNames:
                    type: array
                    items:
                      type: string
              example:
                resultCode: 0
                secretNames:
                  - 'ABC123'
                  - 'DEF456'


  /admin/json/organizations/{organizationId}/notifications:
    post:
      summary: Test Organization Notifications
      operationId: Test notifications
      description: |-
        Request to generate possible common notifications including emails, SMS, push notifications.
        The API will return all notification texts in a zip archive.
      tags:
        - Organizations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              brand: default
              template: account/user_registration.vm
              language: en
              model:
                key0: value0
                key1: value1
            schema:
              type: object
              properties:
                brand:
                  type: string
                  description: Brand to overwrite the organization's brand
                template:
                  type: string
                  description: Test the specific notification template
                language:
                  type: string
                  description: Generate notifications in specific language. Otherwise the user's language is used.
                model:
                  type: object
                  additionalProperties:
                    type: string
                  description: Notification template parameters key/value string map
      responses:
        '200':
          description: ZIP archive
        '404':
          description: Resource not found


  /admin/json/roles:
    get:
      summary: Get Roles
      operationId: Get Roles
      description: Returns administrative roles which can be granted to another user by an administrator.
      tags:
        - Administrators
      security:
        - adminApiKey: []
      responses:
        '200':
          description: Roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Role's ID
                        name:
                          type: string
                          description: Role's name
                        description:
                          type: string
                        permissions:
                          type: array
                          description: Permissions granted to users with this role [user permissions](cloud.html#tag/User-Accounts/User-Permissions)
              example:
                resultCode: 0
                roles:
                  - id: 1
                    name: Organization Admininstrator
                    description: Standard organization permissions
                    permissions:
                      - 3
                      - 9
                  - id: 2
                    name: Super Admininstrator
                    description: Organization management permissions
                    permissions:
                      - 1
                      - 3
                      - 4
                      - 9


  /admin/json/users/{userId}/roles/{roleId}:
    put:
      summary: Grant Administrative Roles
      operationId: Grant Administrative Roles
      description: A role can be granted or revoked only by an administrator with a corresponding permission.
      tags:
        - Administrators
      security:
        - adminApiKey: []
      parameters:
        - name: userId
          in: path
          description: User ID to grant this role to
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          description: The Role ID to grant. This is specified by the "Get Roles" API.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/users/{userId}/roles:
    delete:
      summary: Revoke Administrative Roles
      operationId: Revoke Administrative Roles
      description: ''
      tags:
        - Administrators
      security:
        - adminApiKey: []
      parameters:
        - name: userId
          in: path
          description: User ID for which to revoke administrative privileges
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/organizations/{organizationId}/admins:
    get:
      summary: Get Administrators
      operationId: Get Administrators
      description: ''
      tags:
        - Administrators
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID to get administrators from
          required: true
          schema:
            type: integer
        - name: parents
          in: query
          description: Get administrators from parent organizations as well
          schema:
            type: boolean
      responses:
        '200':
          description: Administrators
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        userName:
                          type: string
                        altUsername:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        creationDate:
                          type: string
                        creationDateMs:
                          tile: integer
                        lastLoginDate:
                          type: string
                        lastLoginDateMs:
                          tile: integer
                        email:
                          type: object
                          properties:
                            email:
                              type: string
                            verified:
                              type: boolean
                            status:
                              type: integer
                        role:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            description:
                              type: string
              example:
                resultCode: 0
                users:
                  - id: 123
                    userName: john.smith@gmail.com
                    altUsername: '1234567890'
                    firstName: John
                    lastName: Smith
                    email:
                      email: john.smith@gmail.com
                      verified: true
                      status: 0
                    role:
                      id: 5
                      name: Organization administrator
                      description: Role description


  /admin/json/organizations/{organizationId}/admins/{userId}:
    put:
      summary: Add an Administrator
      operationId: Add an Administrator
      description: ''
      tags:
        - Administrators
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: userId
          in: path
          description: Administrator user ID to add to this organization
          required: true
          schema:
            type: integer
        - name: brand
          in: query
          description: Notification brand
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    delete:
      summary: Remove Administrator
      operationId: Remove Administrator
      description: ''
      tags:
        - Administrators
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: userId
          in: path
          description: User ID to remove from this organization
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/users:
    get:
      summary: Get Users
      operationId: Get Users
      description: |-
        Retrieve a list of users and their information based on the search criteria.

        System administrators can access all users, while Organization administrators can access users from within the organization they manage.
        
        User fields are described in [user account APIs documentation](cloud.html#tag/User-Accounts/User-Account-Information).
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
        - botApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: Organization ID to search within.
          schema:
            type: integer
        - name: userId
          in: query
          description: Get a user by a specific user ID.
          schema:
            type: integer
        - name: locationId
          in: query
          description: Search for a user at a specific location ID.
          schema:
            type: integer
        - name: searchBy
          in: query
          description: >-
            Searches for matching user login name, ID, email address, phone number, first name, last name.
            Use <b>*</b> for a wildcard.
          schema:
            type: string
        - name: searchAddress
          in: query
          description: >-
            Searches by location address fields: street, city, zip code.
          schema:
            type: string
        - name: servicePlanId
          in: query
          description: Filter users, who have specific service plan.
          schema:
            type: integer
        - name: searchTag
          in: query
          description: Search by user tag
          schema:
            type: string
        - name: externalUserId
          in: query
          description: Search by external user ID
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of user records to retrieve in this request.
          schema:
            type: integer
        - name: getTags
          in: query
          description: Return user tags
          schema:
            type: boolean
      responses:
        '200':
          description: Users
          content:
            application/json:
              schema:
                properties:
                  resultCode:
                    type: integer
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        firstName:
                          type: string
                        lastName:
                          type: string


  /admin/json/locations:
    get:
      summary: Get Locations
      operationId: Get Locations
      description: |-
        This API allows to list and search user and device locations withing an organization.

        Location fields are described in [user account APIs documentation](cloud.html#tag/User-Accounts/Location-Information).
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: Organization ID
          schema:
            type: integer
        - name: locationId
          in: query
          description: Location IDs to retrieve these locations, sub-locations, and parent locations. Multiple values supported.
          schema:
            type: integer
        - name: subType
          in: query
          description: Filter locations by sub-type
          schema:
            type: integer
        - name: externalId
          in: query
          description: Search locations by external IDs. Multiple values supported.
          schema:
            type: string
        - name: searchBy
          in: query
          description: Filter by location name and address. Use * for a wildcard.
          schema:
            type: string
        - name: event
          in: query
          description: Filter by part of location event name. Use * for a wildcard.
          schema:
            type: string
        - name: locationType
          in: query
          description: Filter by location type, multiple values supported
          schema:
            type: integer
        - name: excludeType
          in: query
          description: Excluding filter by location type, multiple values supported
          schema:
            type: integer
        - name: searchTag
          in: query
          description: Search by location tags, multiple values supported
          schema:
            type: string
        - name: searchDeviceTag
          in: query
          description: Search by device tags, multiple values supported
          schema:
            type: string
        - name: deviceType
          in: query
          description: Filter by devices of these types, multiple values supported
          schema:
            type: integer
        - name: servicePlanId
          in: query
          description: Filter by service plan ID
          schema:
            type: integer
        - name: stateId
          in: query
          description: Filter by location address state ID
          schema:
            type: integer
        - name: countryId
          in: query
          description: Filter by location address country ID
          schema:
            type: integer
        - name: priorityCategory
          in: query
          description: Filter by location priority category, multiple values supported
          schema:
            type: integer
        - name: externalUserId
          in: query
          description: Search by external user ID
          schema:
            type: string
        - name: userRole
          in: query
          description: Return location users with this role
          schema:
            type: integer
        - name: stateName
          in: query
          description: Return location state variable with this name
          schema:
            type: string
        - name: getTags
          in: query
          description: Return location tags
          schema:
            type: boolean
        - name: limit
          in: query
          description: Limit the response size
          schema:
            type: integer
      responses:
        '200':
          description: Locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        subType:
                          type: integer
                        parentIds:
                          items:
                            type: integer
                          description: Array of parent location IDs, when specific locations requested in the parameters.
                        timezone:
                          type: object
                          properties:
                            id:
                              type: string
                            offset:
                              type: integer
                            dst:
                              type: boolean
                            name:
                              type: string
                        creationDate:
                          type: string
                        creationDateMs:
                          type: integer
                        notes:
                          type: string
                        type:
                          type: integer
                        state:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        country:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            countryCode:
                              type: string
                            currencyCode:
                              type: string
                            currencySymbol:
                              type: string
                            zipFormat:
                              type: string
                            stateName:
                              type: string
                            zipName:
                              type: string
                        zip:
                          type: string
                        latitude:
                          type: string
                        longitude:
                          type: string
                        event:
                          type: string
                        priorityCategory:
                          type: integer
                        priorityRank:
                          type: integer
                        priorityComment:
                          type: string
                        priorityDate:
                          type: string
                        priorityDateMs:
                          type: integer
                        stateValue:
                          type: object
                        stateDate:
                          type: string
                        stateDateMs:
                          type: integer
                        size:
                          type: object
                          properties:
                            unit:
                              type: string
                            value:
                              type: integer
                        storiesNumber:
                          type: integer
                        roomsNumber:
                          type: integer
                        bathroomsNumber:
                          type: integer
                        occupantsNumber:
                          type: integer
                        usagePeriod:
                          type: integer
                        heatingType:
                          type: integer
                        coolingType:
                          type: integer
                        waterHeaterType:
                          type: integer
                        thermostatType:
                          type: integer
                        users:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              firstName:
                                type: string
                              lastName:
                                type: string
                              language:
                                type: string
                              pronounId:
                                type: integer
                              communityName:
                                type: string
                              avatarFileId:
                                type: integer
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              tag:
                                type: string
                              organizationId:
                                type: integer
                              appId:
                                type: integer
                              category:
                                type: integer
                                description: Location tag category
                              priority:
                                type: integer
                                description: Location tag priority
                              creationDate:
                                type: string
                              creationDateMs:
                                type: integer
                            required:
                              - tag
              example:
                resultCode: 0
                locations:
                  - id: 456
                    name: Factory
                    timezone:
                      id: US/Eastern
                      offset: -300
                      dst: true
                      name: Eastern Time
                    creationDate: '2011-05-31T23:00:00-07:00'
                    creationDateMs: 1306908000000
                    notes: organization notes
                    type: 1
                    state:
                      id: 5
                      name: California
                    country:
                      id: 1
                      name: United States
                      countryCode: US
                      currencyCode: USD
                      currencySymbol: $
                      zipFormat: ^\d{5}$
                      stateName: State
                      zipName: Zip Code
                    zip: '12345'
                    latitude: '10.12345'
                    longitude: '10.12345'
                    event: HOME
                    priorityCategory: 1
                    priorityRank: 10
                    priorityComment: Short note here
                    priorityDate: '2019-01-29T02:45:30Z'
                    priorityDateMs: 1548747995000
                    stateValue:
                      someNumericField: 123
                      someStringField: abc
                    size:
                      unit: ft2
                      value: 14000
                    storiesNumber: 2
                    roomsNumber: 5
                    bathroomsNumber: 2
                    occupantsNumber: 3
                    usagePeriod: 3
                    heatingType: 2
                    coolingType: 1
                    waterHeaterType: 2
                    thermostatType: 1
                    users:
                      - id: 234
                        firstName: Jane
                        lastName: Smith
                        language: en
                        pronounId: 1
                        communityName: Jane
                        avatarFileId: 345
                    tags:
                      - tag: hvac
                        organizationId: 123
                        organizationName: CDC
                      - tag: efficient
                        appId: 45
                        appName: HVac monitor


  /admin/json/organizations/{organizationId}/locations:
    post:
      summary: Create a Location
      operationId: Create Location
      description: Create a new location in an organization
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: parentId
          in: query
          description: Parent location ID to assing the new location as a sub-location there
          schema:
            type: integer
        - name: userId
          in: query
          description: User ID with admin access to this location
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              location:
                name: Factory
                type: 10
                timezone:
                  id: US/Pacific
                addrStreet1: 123 Prospect St, Apt. 456
                addrStreet2: ''
                addrCity: Palo Alto
                state:
                  id: 1
                country:
                  id: 1
                zip: '12345'
                latitude: '10.12345'
                longitude: '10.12345'
            schema:
              type: object
              properties:
                location:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: integer
                    timezone:
                      type: object
                      properties:
                        id:
                          type: string
                    addrStreet1:
                      type: string
                    addrStreet2:
                      type: string
                    addrCity:
                      type: string
                    state:
                      type: object
                      properties:
                        id:
                          type: integer
                    country:
                      type: object
                      properties:
                        id:
                          type: integer
                    zip:
                      type: string
                    latitude:
                      type: string
                    longitude:
                      type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    put:
      summary: Update Location
      operationId: Update Location
      description: ''
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: locationId
          in: query
          description: Location ID to update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              location:
                name: My house
                type: 10
                timezone:
                  id: US/Pacific
                addrStreet1: 123 Prospect St, Apt. 456
                addrStreet2: ''
                addrCity: Palo Alto
                state:
                  id: 1
                country:
                  id: 1
                zip: '12345'
                latitude: '10.12345'
                longitude: '10.12345'
            schema:
              type: object
              properties:
                location:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: integer
                    timezone:
                      type: object
                      properties:
                        id:
                          type: string
                    addrStreet1:
                      type: string
                    addrStreet2:
                      type: string
                    addrCity:
                      type: string
                    state:
                      type: object
                      properties:
                        id:
                          type: integer
                    country:
                      type: object
                      properties:
                        id:
                          type: integer
                    zip:
                      type: string
                    latitude:
                      type: string
                    longitude:
                      type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    delete:
      summary: Delete Location
      operationId: Delete Location
      description: ''
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: locationId
          in: query
          description: Location ID to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/organizations/{organizationId}/locationStatus:
    put:
      summary: Add or Update or Remove locations
      operationId: Add or Update or Remove locations
      description: |-
        Batch API to manage locations in an organization.

        Locations will be added or moved to the organization automatically, if they are not there.

        To remove locations from the organization set the `delete` field to `true`.

        This API does not guaranty that the request will be performed for all locations.
        The error code may not be returned in this case.
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              locationIds:
                - 123
                - 124
                - 125
              notes: Notes text
              delete: false
            schema:
              type: object
              properties:
                locationIds:
                  type: array
                  items:
                    type: integer
                  description: Location IDs to move to the organization
                startDate:
                  type: string
                  description: Start date in the new organization. Must be between the current organization start time and the current time.
                notes:
                  type: string
                  description: Location notes
                delete:
                  type: boolean
                  description: Remove locations from the organization
              required:
                - locationIds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/organizations/{organizationId}/narratives:
    get:
      summary: Get Organization Narratives
      operationId: Get Organization Narratives
      description: |-
        Organization narratives for the specified organization and the child organizations.

        The search results are organized by "pages". 
        Each page contains a set of elements sorted by the `narrativeTime` in descending order.
        The pages follow one another in reverse chronological order.

        The rowCount parameter specifies the maximum number of elements per page.

        The result may include the `nextMarker` property - this means that there are more pages for the current search criteria. 
        To get the next page, the value of `nextMarker` must be passed to the `pageMarker` parameter on the next API call.
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
        - botApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: searchTag
          in: query
          description: Filter by location's tags, multiple values
          schema:
            type: string
        - name: locationId
          in: query
          description: Filter by location IDs, multiple values
          schema:
            type: integer
        - name: narrativeTime
          in: query
          description: Specific narrative time
          schema:
            type: integer
        - name: narrativeId
          in: query
          description: Filter by ID
          schema:
            type: integer
        - name: parentId
          in: query
          description: Filter by parent ID
          schema:
            type: integer
        - name: narrativeType
          in: query
          description: Filter by narrative type, multiple values
          schema:
            type: integer
        - name: priority
          in: query
          description: Filter by priority higher or equal than that
          schema:
            type: integer
        - name: toPriority
          in: query
          description: Filter by priority less or equal than that
          schema:
            type: integer
        - name: status
          in: query
          description: Filter by status, deleted are not returned by default
          schema:
            type: integer
        - name: eventType
          in: query
          description: Filter by event type
          schema:
            type: string
        - name: searchBy
          in: query
          description: Filter by title or description. Use * for a wildcard.
          schema:
            type: string
        - name: startDate
          in: query
          description: Narrative date range start
          schema:
            type: string
        - name: endDate
          in: query
          description: Narrative date range end
          schema:
            type: string
        - name: rowCount
          in: query
          description: Maximum number of elements per page
          required: true
          schema:
            type: integer
        - name: pageMarker
          in: query
          description: Marker to the next page
          schema:
            type: string
      responses:
        '200':
          description: Organization Narratives
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  nextMarker:
                    type: string
                  narratives:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        locationId:
                          type: integer
                        narrativeDate:
                          type: string
                        narrativeDateMs:
                          type: integer
                        creationDate:
                          type: string
                        creationDateMs:
                          type: integer
                        narrativeType:
                          type: integer
                        priority:
                          type: integer
                        status:
                          type: integer
                        icon:
                          type: string
                        iconFont:
                          type: string
                        title:
                          type: string
                        description:
                          type: string
                        target:
                          type: object
                          properties:
                            field:
                              type: string
                        appInstanceId:
                          type: integer
                        location:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            type:
                              type: integer
                            language:
                              type: string
                            timezone:
                              type: string
                            organizationId:
                              type: integer
                            creationDate:
                              type: string
                            creationDateMs:
                              type: integer
                        user:
                          type: object
                          properties:
                            userId:
                              type: integer
                            firstName:
                              type: string
                            lastName:
                              type: string
                            username:
                              type: string
                            email:
                              type: string
                            phone:
                              type: string
                            phoneType:
                              type: integer
                      required:
                        - id
                        - locationId
                        - narrativeDate
                        - narrativeDateMs
                        - creationDate
                        - creationDateMs
                        - narrativeType
                        - priority
                        - status
                        - location
              example:
                resultCode: 0
                nextMarker: 16611d93630-306b
                narratives:
                  - id: 20
                    locationId: 1
                    narrativeDate: '2018-10-01T03:05:07'
                    narrativeDateMs: 1537692964000
                    creationDate: '2018-10-01T03:05:07'
                    creationDateMs: 1537692964000
                    narrativeType: 0
                    priority: 3
                    status: 0
                    icon: alert.gif
                    iconFont: alert.font
                    title: Water Leak
                    description: Water leak in the bathroom
                    target:
                      field: value
                    appInstanceId: 520
                    location:
                      id: 1
                      name: 450 Broadway, Redwood City, CA 94063, USA
                      type: 10
                      language: en
                      timezone: America/Los_Angeles
                      organizationId: 20567
                      creationDate: '2018-10-01T03:05:07'
                      creationDateMs: 1537692964000
                  - id: 19
                    locationId: 1
                    narrativeDate: '2018-10-01T03:05:07'
                    narrativeDateMs: 1537692964000
                    creationDate: '2018-10-01T03:05:07'
                    creationDateMs: 1537692964000
                    narrativeType: 1
                    priority: 0
                    status: 0
                    user:
                      userId: 123
                      firstName: John
                      lastName: Smith
                      username: john
                      email: john@gmail.com
                      phone: '1234567890'
                      phoneType: 1
                    location:
                      id: 1
                      name: 450 Broadway, Redwood City, CA 94063, USA
                      type: 10
                      language: en
                      timezone: America/Los_Angeles
                      organizationId: 20567
                      creationDate: '2018-10-01T03:05:07'
                      creationDateMs: 1537692964000


  /admin/json/organizations/{organizationId}/notificationUsers:
    get:
      summary: Get Notification Users
      operationId: Get Notification Users
      description: |-
        Organization Notification Categories
        
        | Category | Description |
        |:--------:|-------------|
        | 1 | Manager |
        | 2 | Technician |
        | 3 | Organization Bills |
        | 4 | Research |
        | 5 | Provider |
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Notification Users
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        userName:
                          type: string
                        altUsername:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: object
                          properties:
                            email:
                              type: string
                            verified:
                              type: boolean
                            status:
                              type: integer
                        role:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            description:
                              type: string
                        categories:
                          type: array
                          items:
                            type: integer
              example:
                resultCode: 0
                users:
                  - id: 123
                    userName: john.smith@gmail.com
                    altUsername: '1234567890'
                    firstName: John
                    lastName: Smith
                    email:
                      email: john.smith@gmail.com
                      verified: true
                      status: 0
                    role:
                      id: 5
                      name: Organization administrator
                      description: Role description
                    categories:
                      - 1
                      - 2
                      - 3

    put:
      summary: Update Notification User
      operationId: Update Notification User
      description: >-
        This API allows to add and remove notification users with required categories.

        The response contains an array of this user notification categories after the operation completed.
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: userId
          in: query
          description: User ID
          required: true
          schema:
            type: integer
        - name: addCategory
          in: query
          description: Notification categories to add, multiple values supported
          schema:
            type: integer
        - name: deleteCategory
          in: query
          description: Notification categories to remove, multiple values supported
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  categories:
                    type: array
                    items:
                      type: integer
              example:
                resultCode: 0
                categories:
                  - 1
                  - 2
                  - 3


  /admin/json/timeStates:
    get:
      summary: Get Location Time-series States
      operationId: Get Location Time-series States
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: locationId
          in: query
          description: Location IDs filter, multiple values supported
          schema:
            type: integer
        - name: priorityCategory
          in: query
          description: Filter by location priority category, multiple values supported
          schema:
            type: integer
        - name: startDate
          in: query
          description: Return states with dates greater than this value
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          description: Return states with dates less than or equal to this value.
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: State name(s), multiple values supported
          schema:
            type: string
      responses:
        '200':
          description: Time-series States
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  states:
                    type: array
                    items:
                      type: object
                      properties:
                        location:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            priorityCategory:
                              type: integer
                            organizationId:
                              type: integer
                        name:
                          type: string
                          description: State's name
                        stateDate:
                          type: string
                          description: State's date
                        stateDateMs:
                          type: integer
                        value:
                          type: object
                          description: State's value
                      required:
                        - location
                        - name
                        - stateDate
                        - stateDateMs
              example:
                resultCode: 0
                states:
                  - name: stateName
                    location:
                      id: 123
                      name: Room A
                    stateDate: '2018-10-01T03:05:07'
                    stateDateMs: 1537692964000
                    value:
                      field0: 123
                      field1: AAA


  /admin/json/devices:
    get:
      summary: Get Devices
      operationId: Get Devices
      description: Retrieve device instances linked to users and/or locations inside the organization.
      tags:
        - Users and Locations
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: Organization ID
          schema:
            type: integer
        - name: userId
          in: query
          description: Filter by user ID
          schema:
            type: integer
        - name: locationId
          in: query
          description: Filter by location ID
          schema:
            type: integer
        - name: deviceId
          in: query
          description: Filter by device ID
          schema:
            type: string
        - name: deviceType
          in: query
          description: Filter by device types. Multiple values supported.
          schema:
            type: integer
        - name: searchBy
          in: query
          description: Search by device ID or description
          schema:
            type: string
        - name: searchTag
          in: query
          description: Search by tag
          schema:
            type: string
        - name: lessUpdateDate
          in: query
          description: Request devices, where the last update date is less than this
          schema:
            type: string
        - name: moreUpdateDate
          in: query
          description: Request devices, where the last update date is more than this
          schema:
            type: string
        - name: paramName
          in: query
          description: Request devices, which sent this parameter to the cloud
          schema:
            type: string
        - name: paramValue
          in: query
          description: Requested parameter value
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the response size by this number
          schema:
            type: integer
        - name: getTags
          in: query
          description: Return device tags
          schema:
            type: boolean
      responses:
        '200':
          description: Devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: integer
                        typeCategory:
                          type: integer
                        goalId:
                          type: integer
                        locationId:
                          type: integer
                        desc:
                          type: string
                        connected:
                          type: boolean
                        lastDataReceivedDate:
                          type: string
                        lastDataReceivedDateMs:
                          type: integer
                        lastMeasureDate:
                          type: string
                        lastMeasureDateMs:
                          type: integer
                        proxyId:
                          type: string
                        zoneId:
                          type: string
                        location:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            timezone:
                              type: object
                              properties:
                                id:
                                  type: string
                                offset:
                                  type: integer
                                dst:
                                  type: boolean
                                name:
                                  type: string
                            type:
                              type: integer
                        tags:
                          type: array
                          items:
                            type: object
                            properties:
                              tag:
                                type: string
                              organizationId:
                                type: integer
                              appId:
                                type: integer
                              creationDate:
                                type: string
                              creationDateMs:
                                type: integer
                            required:
                              - tag
                      required:
                        - id
                        - type
                        - typeCategory
                        - goalId
                        - locationId
                        - desc
                        - connected
                        - lastDataReceivedDate
                        - lastDataReceivedDateMs
                        - lastMeasureDate
                        - lastMeasureDateMs
                        - location
              example:
                resultCode: 0
                devices:
                  - id: 470FF274-8700-44AB-A273-A70691A3C140::4
                    type: 24
                    typeCategory: 6
                    goalId: 123
                    locationId: 5
                    desc: iPhone 6
                    connected: true
                    lastDataReceivedDate: '2014-05-08T02:22:02-07:00'
                    lastDataReceivedDateMs: 1399540922000
                    lastMeasureDate: '2014-05-08T02:22:02-07:00'
                    lastMeasureDateMs: 1399540922000
                    location:
                      id: 456
                      name: Factory
                      timezone:
                        id: US/Eastern
                        offset: -300
                        dst: true
                        name: Eastern Time
                      type: 1
                    tags:
                      - tag: hvac
                        organizationId: 123
                        organizationName: CDC
                      - tag: efficient
                        appId: 45
                        appName: HVac monitor
                  - id: virtualpsm-6-4e7
                    type: 6
                    typeCategory: 11000
                    proxyId: virtualhub-4-4D4
                    goalId: 124
                    locationId: 5
                    desc: Light
                    connected: false
                    lastDataReceivedDate: '2014-05-08T02:22:02-07:00'
                    lastDataReceivedDateMs: 1399540922000
                    lastMeasureDate: '2014-05-08T02:22:02-07:00'
                    lastMeasureDateMs: 1399540922000
                    location:
                      id: 456
                      name: Factory
                      timezone:
                        id: US/Eastern
                        offset: -300
                        dst: true
                        name: Eastern Time
                      type: 1


  /admin/json/fwversion:
    post:
      summary: Upload Firmware Version
      operationId: Upload Firmware Version
      description: >-
        Upload a new FW version (binary file, version number, check sum, device type, part index).
        Return the version ID.
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: deviceType
          in: query
          description: Device type
          required: true
          schema:
            type: integer
        - name: firmware
          in: query
          description: Version number
          required: true
          schema:
            type: string
        - name: fileName
          in: query
          description: File name
          required: true
          schema:
            type: string
        - name: checkSum
          in: query
          description: Hash value of the file to upload
          required: true
          schema:
            type: string
        - name: index
          in: query
          description: Part index
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  versionId:
                    type: integer
              example:
                resultCode: 0
                versionId: 123

    get:
      summary: Get Firmware Versions
      operationId: Get Firmware Versions
      description: Get existing FW update versions by device type.
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: deviceType
          in: query
          description: Device type
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        deviceType:
                          type: integer
                        firmware:
                          type: string
                        url:
                          type: string
                        checkSum:
                          type: string
                        index:
                          type: string
              example:
                resultCode: 0
                versions:
                  - id: 123
                    deviceType: 31
                    firmware: Sensor_1.2.0
                    url: https://fw.peoplepowerco.com/sensor_1_2_0
                    checkSum: >-
                      311da722d53e1e3654094f500428cec29159986576598df4b23d26357b5140b0
                    index: '0'

    delete:
      summary: Delete Firmware Versions
      operationId: Delete Firmware Versions
      description: Delete existing FW version.
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: versionId
          in: query
          description: Firmware version ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/fwjobs:
    post:
      summary: Create Update Job
      operationId: Create Update Job
      description: >-
        Create a new FW update job by version ID, FW group ID.
        Previous active job will be deleted.
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: versionId
          in: query
          description: Firmware version ID
          required: true
          schema:
            type: integer
        - name: forced
          in: query
          description: Force the update job
          schema:
            type: boolean
        - name: groupId
          in: query
          description: Firmware group ID
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  jobId:
                    type: integer
              example:
                resultCode: 0
                jobId: 186

    get:
      summary: Get Update Jobs
      operationId: Get Update Jobs
      description: Get active FW update jobs. Normally, no more than one job could exist.
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: deviceType
          in: query
          description: Device type
          required: true
          schema:
            type: integer
        - name: groupId
          in: query
          description: Firmware group ID
          schema:
            type: integer
      responses:
        '200':
          description: FW Update Jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        versionId:
                          type: integer
                        forced:
                          type: boolean
                        firmware:
                          type: string
                        url:
                          type: string
                        checkSum:
                          type: string
                        index:
                          type: string
              example:
                resultCode: 0
                jobs:
                  - id: 186
                    versionId: 123
                    forced: false
                    firmware: Sensor_1.2.0
                    url: https://fw.peoplepowerco.com/sensor_1_2_0
                    checkSum: >-
                      311da722d53e1e3654094f500428cec29159986576598df4b23d26357b5140b0
                    index: '0'
    delete:
      summary: Delete Update Job
      operationId: Delete Update Job
      description: Delete existing FW update job.
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: jobId
          in: query
          description: Job ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/fwgroup:
    get:
      summary: Get Firmware Groups
      operationId: Get Firmware Groups
      description: ''
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: query
          description: Organization ID filter
          schema:
            type: integer
      responses:
        '200':
          description: Firmware Groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        groupId:
                          type: integer
                        name:
                          type: string
                        versions:
                          type: array
                          items:
                            type: object
                            properties:
                              versionId:
                                type: integer
                              deviceType:
                                type: integer
                              firmware:
                                type: string
                      required:
                        - groupId
                        - name
              example:
                resultCode: 0
                groups:
                  - groupId: 1
                    name: QA
                    versions:
                      - versionId: 1
                        deviceType: 37
                        firmware: dp-2.4.0-prod
                  - groupId: 2
                    name: No Update

    put:
      summary: Update Firmware Group for Device
      operationId: Update Firmware Group for Device
      description: Update or clear the FW update group ID for a specific device instance.
      tags:
        - Firmware
      security:
        - adminApiKey: []
      parameters:
        - name: deviceId
          in: query
          description: Device instance ID
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: Firmware group ID
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /admin/json/organizations/{organizationId}/challenges:
    post:
      summary: Create a Challenge
      operationId: Create a Challenge
      description: |-
        Create a challenge from scratch or from a template.
        
        In a community social network setting, an Engagement Manager may issue challenges to the community, to help achieve the overall goals of the community.
  
        Challenges are a really fun way to engage with a large population!
      tags:
        - Challenges
      security:
        - adminApiKey: []
      parameters:
        - name: organizationId
          in: path
          description: Organization ID to create this challenge for
          required: true
          schema:
            type: integer
        - name: check
          in: query
          description: >-
            <b>true</b> - Check if an active challenge already exists without creating one.<br>
            <b>false</b> - Do not check if an active challenge already exists, just create it, default.
          schema:
            type: boolean
        - name: parentId
          in: query
          description: Challenge or template ID to copy settings from.
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              challenge:
                name: DR event
                template: false
                startDate: '2014-08-01T00:00:00Z'
                endDate: '2014-10-15T12:00:00Z'
                challengeType: 4
                recurring: 0
                invitational: true
                deviceTypeExistance: 2
                deviceTypes:
                  - 10
                  - 20
                  - 30
                excludeDeviceTypes:
                  - 40
                participantType: 1
                participationStatus: 1
                participantTag: auto-opt-in
                excludeParticipantTag: inactive
                parameters:
                  name1: value1
                  name2: value2
            schema:
              type: object
              properties:
                challenge:
                  type: object
                  properties:
                    name:
                      type: string
                    template:
                      type: boolean
                      description: |-
                        `True` means the challenge is intended to be used as a template for creating new challenges. In this case, participants are not created.<br>
                        Optional, default is false.
                    startDate:
                      type: string
                    endDate:
                      type: string
                    challengeType:
                      type: integer
                      description: <b>4</b> - Demand response
                    recurring:
                      type: integer
                      description: |-
                        <b>0</b> - One-time, not recurring<br>
                        <b>3</b> - Recurring monthly
                    invitational:
                      type: boolean
                    deviceTypeExistance:
                      type: integer
                      description: |-
                        Optional, default is 0.<br>
                        <b>1</b> - ANY listed device type must exists on the participating location<br>
                        <b>2</b> - ALL device types must exist on the participating location
                    deviceTypes:
                      type: array
                      description: A list of device types to filter participants
                      items:
                        type: integer
                    excludeDeviceTypes:
                      type: array
                      description: Exclude locations having any of these devices from the challenge
                      items:
                        type: integer
                    participantType:
                      type: integer
[...]
