openapi: 3.1.1
info:
  title: 'IoT Software Suite: Bot API'
  version: '57'
  description: |-
    The Bot Server is a real-time data analytics framework that allows software developers to create new bots,
    features, and services on top of any Internet-connected product.

    There are 3 parts to this API documentation:

    * Developers can create, publish, and manage their own bots.
    * End Users can discover, purchase, and use bots available from a Bot Shop.
    * Care Daily engineers can use proprietary Bot Server APIs to implement the proprietary BotEngine Python Framework, which is used by developers.

    The BotEngine is single monolithic framework, written in Python,
    that provides all the capabilities for the Bot Lab to develop and run bots locally,
    the ability for developers to manage their bots on a remote Bot Shop,
    and even the capability to act like an end user to search, purchase, and manage their own bot instances.

    This document is confidential Care Daily Company.

servers:
  - url: https://app.peoplepowerco.com/
    description: US production
  - url: https://eu.caredaily.ai/
    description: EU production
  - url: https://sboxall.peoplepowerco.com/
    description: Sandbox

paths:
  /cloud/developer/teams:
    post:
      summary: Create Developers Team
      operationId: Create Developers Team
      description: Create a new team containing the caller as the only team member (developer).
      tags:
        - Developer Teams
      security:
        - userApiKey: []
      requestBody:
        content:
          application/json:
            example:
              name: PPC Team
              description: Care Daily development team
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    get:
      summary: Get Developer Teams
      operationId: Get Developer Teams
      description: |-
        Regular users can only see the teams they are members of.
        System configuration administrators can see all existing teams.
      tags:
        - Developer Teams
      security:
        - userApiKey: []
      parameters:
        - name: teamName
          in: query
          description: Filter by development team name
          schema:
            type: string
        - name: userId
          in: query
          description: Filter by development team member user ID
          schema:
            type: integer
        - name: bundle
          in: query
          description: Filter by bot bundle ID to which the development team is assigned
          schema:
            type: string
      responses:
        '200':
          description: Developer Teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  teams:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                        members:
                          type: array
                          items:
                            type: object
                            properties:
                              user:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  email:
                                    type: string
                              role:
                                type: integer
                              roleName:
                                type: string
                            required:
                              - user
                              - role
                              - roleName
                        bots:
                          type: array
                          items:
                            type: string
              example:
                resultCode: 0
                teams:
                  - id: 123
                    name: PPC Team
                    description: Care Daily development team
                    members:
                      - user:
                          id: 1526
                          email: developer@caredaily.ai
                        role: 1
                        roleName: Developer
                      - user:
                          id: 5261
                          email: tester@caredaily.ai
                        role: 3
                        roleName: Tester
                    bots:
                      - com.ppc.PresenceFamily
                      - com.test.FamilyRelease


  /cloud/developer/teams/{teamName}:
    post:
      summary: Add a Developer
      operationId: Add a Developer
      description: >-
        Any team member (except of testers) can add a new member of that team.
        System configuration administrators can add any user to any development team.
      tags:
        - Developer Teams
      security:
        - userApiKey: []
      parameters:
        - name: teamName
          in: path
          description: Existing developer team name
          required: true
          schema:
            type: string
        - name: username
          in: query
          description: User to include to the team, either username or user ID is required
          schema:
            type: string
        - name: userId
          in: query
          description: User ID to include to the team
          schema:
            type: integer
        - name: tester
          in: query
          description: Add beta-tester. Default is 'false' (developer).
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    delete:
      summary: Remove a Developer
      operationId: Remove a Developer
      description: >-
        Any member (except of testers) of existing team can remove any other member of that team.
        System configuration administrators can remove any member of any team.
      tags:
        - Developer Teams
      security:
        - userApiKey: []
      parameters:
        - name: teamName
          in: path
          description: Existing developer team name
          required: true
          schema:
            type: string
        - name: username
          in: query
          description: User to include to the team, either username or user ID is required
          schema:
            type: string
        - name: userId
          in: query
          description: User ID to remove from the team
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /cloud/developer/teams/{teamName}/secrets:
    put:
      summary: Put a Developers Team Secret
      operationId: Put Developers Team Secret
      description: >-
        Create or update a developers team named secret value.
        The value will be stored encrypted and be available for team bot instances.
      tags:
        - Developer Teams
      security:
        - userApiKey: []
      parameters:
        - name: teamName
          in: path
          required: true
          description: Developer team name
          schema:
            type: string
        - name: secretName
          in: query
          required: true
          description: Secret value name, maximum 50 characters.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              secretValue: ABC123
            schema:
              type: object
              properties:
                secretValue:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    get:
      summary: Get Developers Team Secret Names
      operationId: Get Developers Team Secret Names
      description: List all existing secret names
      tags:
        - Developer Teams
      security:
        - userApiKey: []
      parameters:
        - name: teamName
          in: path
          required: true
          description: Developer team name
          schema:
            type: string
      responses:
        '200':
          description: Secret names
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  secretNames:
                    type: array
                    items:
                      type: string
              example:
                resultCode: 0
                secretNames:
                  - 'ABC123'
                  - 'DEF456'

    delete:
      summary: Delete a Developers Team Secret
      operationId: Delete Developers Team Secret
      description: Delete an existing secret value.
      tags:
        - Developer Teams
      security:
        - userApiKey: []
      parameters:
        - name: teamName
          in: path
          required: true
          description: Developer team name
          schema:
            type: string
        - name: secretName
          in: query
          required: true
          description: Secret value name, maximum 50 characters.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /cloud/developer/apps:
    put:
      summary: Create or Update Bot
      operationId: Create or Update Bot
      description: ''
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot, i.e. ai.caredaily.MyBot
          required: true
          schema:
            type: string
        - name: developerTeam
          in: query
          description: >-
            The name of developer team to involve into development.
            The parameter is required for a new bot
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              app:
                category: L,E
                type: 0
                executionPlace: 0
                serviceName: PaidService
                core: 1
                marketing:
                  - lang: en
                    name: My First Bot
                    author: Your Company
                    copyright: Copyright 2016 Your Company
                    description: This is an example of how to run a bot
                    marketingUrl: https://marketingurl.com
                    supportUrl: https://myurl.com/support
                    videoUrl: https://youtube.com/?s=myvideo
                    privacyUrl: https://myurl.com/privacy
                    keywords: 100,characters,total,comma,separated
            schema:
              type: object
              properties:
                app:
                  type: object
                  properties:
                    category:
                      type: string
                    type:
                      type: integer
                    executionPlace:
                      type: integer
                    serviceName:
                      type: string
                    core:
                      type: integer
                    marketing:
                      type: array
                      items:
                        type: object
                        properties:
                          lang:
                            type: string
                          name:
                            type: string
                          author:
                            type: string
                          copyright:
                            type: string
                          description:
                            type: string
                          marketingUrl:
                            type: string
                          supportUrl:
                            type: string
                          videoUrl:
                            type: string
                          privacyUrl:
                            type: string
                          keywords:
                            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    get:
      summary: Get Developer Bots
      operationId: Get Developer Bots
      description: ''
      security:
        - userApiKey: []
      tags:
        - Bot Development
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID to filter by
          schema:
            type: string
      responses:
        '200':
          description: Bots
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  apps:
                    type: array
                    items:
                      type: object
                      properties:
                        appId:
                          type: integer
                        bundle:
                          type: string
                        developerTeam:
                          type: string
                        category:
                          type: string
                        type:
                          type: integer
                        executionPlace:
                          type: integer
                        core:
                          type: integer
                        marketing:
                          type: array
                          items:
                            type: object
                            properties:
                              lang:
                                type: string
                              name:
                                type: string
                              author:
                                type: string
                              copyright:
                                type: string
                              description:
                                type: string
                              whatsnew:
                                type: string
                              marketingUrl:
                                type: string
                              supportUrl:
                                type: string
                              videoUrl:
                                type: string
                              privacyUrl:
                                type: string
                              keywords:
                                type: string
              example:
                resultCode: 0
                apps:
                  - appId: 2342
                    bundle: ai.caredaily.MyBot
                    developerTeam: developer team name
                    category: L,E
                    type: 0
                    executionPlace: 0
                    core: 1
                    marketing:
                      - lang: en
                        name: My First Bot
                        author: Your Company
                        copyright: Copyright 2015 Your Company
                        description: |-
                          This is an example of how to run bots.
                          Lines can be separated manually.

                          4,000 characters maximum
                        whatsnew: |-
                          This is where we describe what's new with this specific version of the bot

                          4,000 characters maximum
                        marketingUrl: https://marketingurl.com
                        supportUrl: https://myurl.com/support
                        videoUrl: https://youtube.com/?s=myvideo
                        privacyUrl: https://myurl.com/privacy
                        keywords: 100,characters,total,comma,separated


  /cloud/developer/objects/{name}:
    put:
      summary: Upload Bot Object
      operationId: Upload Bot Object
      description: |-
        Each bot can contain a publicly available icon and/or other images.
        These will be displayed in the Bot Shop.

        For all images and icons, the PNG format is recommended. You should avoid using interlaced PNGs.

        The standard bit depth for icons and images is 24 bits.

        The standard size for icons is 1024 x 1024 px.
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: name
          in: path
          description: Object name. Use "icon" for icons.
          required: true
          schema:
            type: string
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot, i.e. ai.caredaily.MyBot
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /cloud/developer/messageTopics:
    put:
      summary: Update Message Topics
      operationId: Update Message Topics
      description: |-
        Bot developers can create message topics and add/remove them to their bots.
        
        Create message topics if they don't exist and update the list of topics for the specified bot.
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              topics:
                - topicId: welcome
                  name:
                    en: Welcome
                    es: Bienvenido
            schema:
              type: object
              properties:
                topics:
                  type: array
                  items:
                    type: object
                    properties:
                      topicId:
                        type: string
                      name:
                        type: object
                        additionalProperties:
                          type: string
                        description: Multilingual string map
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /cloud/developer/versions:
    get:
      summary: Get Bot Versions
      operationId: Get Bot Versions
      description: The fields of the 'function' block are described in the 'Bot Code' section below.
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: Filter versions by statuses. Multiple values can be provided
          schema:
            type: integer
        - name: version
          in: query
          description: If specified, only this version of the bot will be returned
          schema:
            type: string
      responses:
        '200':
          description: Versions
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  versionsCount:
                    type: integer
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        version:
                          type: string
                        runtime:
                          type: integer
                        status:
                          type: integer
                        creationDate:
                          type: string
                        creationDateMs:
                          type: integer
                        statusChangeDate:
                          type: string
                        statusChangeDateMs:
                          type: integer
                        codeUploadDate:
                          type: string
                        codeUploadDateMs:
                          type: integer
                        function:
                          type: object
                          properties:
                            memory:
                              type: integer
                            timeout:
                              type: integer
                            name:
                              type: string
                            startDate:
                              type: string
                            startDateMs:
                              type: integer
                        mlFunction:
                          type: object
                          properties:
                            memory:
                              type: integer
                            timeout:
                              type: integer
                            name:
                              type: string
                            startDate:
                              type: string
                            startDateMs:
                              type: integer
                        whatsnew:
                          type: object
                          additionalProperties:
                            type: string
                          description: Multilingual string map
                        maxPurchaseOccurrence:
                          type: integer
                        goalRule:
                          type: boolean
                        trigger:
                          type: integer
                        schedules:
                          type: object
                          additionalProperties:
                            type: string
                          description: Trigger CRON schedules as ID/expression string map
                        deviceTypes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              reason:
                                type: object
                                additionalProperties:
                                  type: string
                                description: Multilingual string map
                            required:
                              - id
                              - reason
                        access:
                          type: array
                          items:
                            type: object
                            properties:
                              category:
                                type: integer
                              reason:
                                type: object
                                additionalProperties:
                                  type: string
                                description: Multilingual string map
                            required:
                              - category
                              - reason
                        dataStreams:
                          type: array
                          items:
                            type: object
                            properties:
                              address:
                                type: string
                            required:
                              - address
                        communications:
                          type: array
                          items:
                            type: object
                            properties:
                              category:
                                type: integer
                              email:
                                type: boolean
                              push:
                                type: boolean
                              sms:
                                type: boolean
                              msg:
                                type: boolean
                            required:
                              - category
                              - email
                              - push
                              - sms
                              - msg
                      required:
                        - version
                        - runtime
                        - status
                        - creationDate
                        - creationDateMs
                        - statusChangeDate
                        - statusChangeDateMs
                        - whatsnew
                        - maxPurchaseOccurrence
              example:
                resultCode: 0
                versionsCount: 10
                versions:
                  - id: 12543
                    version: 1.0.2
                    runtime: 1
                    status: 1
                    creationDate: '2015-09-01T12:12:12Z'
                    creationDateMs: 1441125566000
                    statusChangeDate: 2015-09-25T12:12Z
                    statusChangeDateMs: 1443199175421
                    codeUploadDate: '2015-09-25T12:12:11Z'
                    codeUploadDateMs: 1443199174421
                    function:
                      memory: 704
                      timeout: 600
                      name: bot-sbox-521-3627:2
                      startDate: '2025-03-08T11:33:46.446Z'
                      startDateMs: 1741433626446
                    mlFunction:
                      memory: 10240
                      timeout: 900
                      name: bot-sbox-521-3627:1
                      startDate: '2025-03-08T11:33:46.446Z'
                      startDateMs: 1741433626446
                    whatsnew:
                      en: What's new with this specific version
                    maxPurchaseOccurrence: 1
                    goalRule: true
                    trigger: 11
                    schedules:
                      ID1: 0 0 5 * * *
                      WeeklyEmail: 0 0 12 ? * FRI *
                    deviceTypes:
                      - id: 24
                        reason:
                          en: Why we need to access this device
                      - id: 25
                        reason:
                          en: Why we need to access this device
                    access:
                      - category: 1
                        reason:
                          en: Why we need to access location data
                      - category: 2
                        reason:
                          en: Why we need to access device files
                    dataStreams:
                      - address: organization.ppc
                      - address: temperatureChange
                      - address: user.mode
                    communications:
                      - category: 0
                        email: true
                        push: true
                        sms: false
                        msg: false
                      - category: 1
                        email: false
                        push: false
                        sms: false
                        msg: false
                      - category: 2
                        email: true
                        push: true
                        sms: false
                        msg: false
                      - category: 3
                        email: false
                        push: false
                        sms: false
                        msg: false
                      - category: 4
                        email: false
                        push: false
                        sms: false
                        msg: false
                  - version: 1.0.0
                    runtime: 1
                    status: 4
                    creationDate: '2015-09-01T12:12:12-07:00'
                    creationDateMs: 1441125566000
                    statusChangeDate: '2015-09-25T12:12:12-07:00'
                    statusChangeDateMs: 1443199175421
                    whatsnew:
                      en: |-
                        My First Version
                        - Brief
                        - description
                        - of what's new.
                    maxPurchaseOccurrence: 1
                  - version: 0.0.5
                    runtime: 1
                    status: 7
                    creationDate: '2015-09-01T12:12:12-07:00'
                    creationDateMs: 1441125566000
                    statusChangeDate: '2015-09-25T12:12:12-07:00'
                    statusChangeDateMs: 1443199175421
                    whatsnew:
                      en: |
                        Beta Version
                        - Brief
                        - description
                        - of what's new.

    put:
      summary: Update the Latest Version
      operationId: Update the Latest Version
      description: |-
        Only the latest version can be changed in the status of "Waiting for upload" or "Privately Available".
        If the bot does not have a version in this state, it will be created.

        To do anything with a bot that is already publicly available, you must submit a new version to replace it or contact support@caredaily.ai.
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot, i.e. ai.caredaily.MyBot
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            example:
              version:
                version: 1.0.2
                whatsnew:
                  en: What's new with this specific version
                trigger: 11
                schedules:
                  ID1: 0 0 5 * * *
                  WeeklyEmail: 0 0 12 ? * FRI *
                maxPurchaseOccurrence: 2
                goalRule: true
                triggerParameters:
                  - supportAlarm
                  - alarmStatus
                deviceTypes:
                  - id: 24
                    reason:
                      en: Why we need to access this device
                  - id: 25
                    reason:
                      en: Why we need to access this device
                access:
                  - category: 1
                    reason:
                      en: Why we need to access location data
                  - category: 2
                    reason:
                      en: Why we need to access device files
                dataStreams:
                  - address: organization.ppc
                  - address: temperatureChange
                  - address: user.mode
                communications:
                  - category: 0
                    email: true
                    push: true
                    sms: false
                    msg: false
                  - category: 1
                    email: false
                    push: false
                    sms: false
                    msg: false
                  - category: 2
                    email: true
                    push: true
                    sms: false
                    msg: false
                  - category: 3
                    email: false
                    push: false
                    sms: false
                    msg: false
                  - category: 4
                    email: false
                    push: false
                    sms: false
                    msg: false
            schema:
              type: object
              properties:
                version:
                  type: object
                  properties:
                    version:
                      type: string
                    whatsnew:
                      type: object
                      additionalProperties:
                        type: string
                      description: Multilingual string map
                    trigger:
                      type: integer
                    schedules:
                      type: object
                      additionalProperties:
                        type: string
                      description: CRON scedules ID/expression string map
                    maxPurchaseOccurrence:
                      type: integer
                    goalRule:
                      type: boolean
                    triggerParameters:
                      type: array
                      items:
                        type: string
                    deviceTypes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          reason:
                            type: object
                            additionalProperties:
                              type: string
                            description: Multilingual string map
                        required:
                          - id
                          - reason
                    access:
                      type: array
                      items:
                        type: object
                        properties:
                          category:
                            type: integer
                          reason:
                            type: object
                            additionalProperties:
                              type: string
                            description: Multilingual string map
                        required:
                          - category
                          - reason
                    dataStreams:
                      type: array
                      items:
                        type: object
                        properties:
                          address:
                            type: string
                        required:
                          - address
                    communications:
                      type: array
                      items:
                        type: object
                        properties:
                          category:
                            type: integer
                          email:
                            type: boolean
                          push:
                            type: boolean
                          sms:
                            type: boolean
                          msg:
                            type: boolean
                        required:
                          - category
                          - email
                          - push
                          - sms
                          - msg
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  appVersionId:
                    type: integer
              example:
                resultCode: 0
                appVersionId: 123

    delete:
      summary: Delete Bot Versions
      operationId: Delete Bot Versions
      description: Archive active bot versions, delete bot instances.
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Bot bundle ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /cloud/developer/versionStatus:
    put:
      summary: Update Version Status
      operationId: Update Version Status
      description: |-
        ### Version Statuses
  
        | Status | Description           | Updatable | Triggered |
        |:------:|:----------------------|:---------:|:---------:|
        |   0    | Waiting for upload    |     +     |     -     |
        |   1    | Privately Available   |     +     |     +     |
        |   2    | Submitted for Review  |     -     |     +     |
        |   3    | Under Review          |     -     |     +     |
        |   4    | Publicly Available    |     -     |     +     |
        |   5    | Store/System Rejected |     +     |     -     |
        |   6    | Developer Rejected    |     +     |     -     |
        |   7    | Restorable            |     -     |     -     |
        |   8    | Archived              |     -     |     -     |
      
        ### Version Status Transition Diagram
        
        |  \  |  0  |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |
        |:--- |:--- |:--- |:--- |:--- |:--- |:--- |:--- |:--- |:--- |
        |**0**|     |`Dc` |     |     |     |     |     |     |     |
        |**1**|     |     | `D` |     |     | `S` | `D` |     |     |
        |**2**|     |     |     | `A` |     | `S` | `D` |     |     |
        |**3**|     |     |     |     | `A` |`AS` |     |     |     |
        |**4**|     |     |     |     |     |     |     |`AS` |     |
        |**5**|`Db` |     |     |     |     |     |     |     |     |
        |**6**|`Db` |     |     |     |     |     |     |     |     |
        |**7**|     |     |     |     |`AD` |     |     |     | `S` |
        |**8**|     |     |     |     |     |     |     |     |     |
        
        `D` - by Developer, `c` - by bot's code upload, `b` - by changing bot's configuration.
        
        `A` - by Bot Store Admin
        
        `S` - by the System (i.e, automatically, as a part of user actions):
     
        The latest version status can be changed only to "Submit for Review" or "Developer Rejected",
        depending on the current state of the latest version on the server.

        Only an administrator can set the bot version to status "Under Review", "Publicly Available", or "Bot Shop Rejected".
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot, i.e. ai.caredaily.MyBot
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: New version status
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /cloud/developer/upload:
    post:
      summary: Upload Bot Code
      operationId: Upload Bot Code
      description: |-
        This section describes the API for loading bot code to AWS Lambda and configuring runtime parameters.

        ### Runtime Index

        The runtime index specifies the execution evironment for the bot code.
        Next versions of Python will be added in the future.

        | Runtime | Execution environment |
        |:-------:|:----------------------|
        |    4    | Python 3.10           |
        |    5    | Python 3.11           |
        |    6    | Python 3.12           |
        |    7    | Python 3.13           |
        |    8    | Python 3.14           |

        ### Status

        Bot code can be uploaded only if the latest bot version has one of the following statuses:

        - 0 - Waiting for upload;
        - 1 - Privately Available;
        - 5 - Developer Rejected;
        - 6 - App Store Rejected.

        The deployment archive may be either ZIP or TAR archive. The archive contains .py and .pyc files.
        The .py files will be compiled to the .pyc files automatically.

        The deployment archive may contain the file 'structure.json' with the array field 'pip_install_remotely' inside.
        The Python packages listed in the array will be installed automatically.

        After successful upload, the status of the latest version will be switched to “Privately Available”.

        The upload is always performed asynchronously, and the API returns 'requestId' in the response body.
        The requestId can be used in the 'Get upload result' API.
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot, i.e. ai.caredaily.MyBot
          required: true
          schema:
            type: string
        - name: runtime
          in: query
          description: >-
            Runtime environment index.
            Default is the latest Python version.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  requestId:
                    type: integer
              example:
                resultCode: 0
                requestId: 124


  /cloud/developer/upload/{requestId}:
    get:
      summary: Get Code Upload Result
      operationId: Get Code Upload Result
      description: Only for regular bots.
      tags:
        - Bot Development
      security:
        - userApiKey: []
      parameters:
        - name: requestId
          in: path
          description: A unique id returned by the 'Upload a bot' API
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Upload Result
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  result:
                    type: object
                    properties:
                      completed:
                        type: boolean
                      resultCode:
                        type: integer
                      errorMessage:
                        type: string
              example:
                resultCode: 0
                result:
                  completed: true
                  resultCode: 0
                  errorMessage: ''


  /cloud/developer/stats:
    get:
      summary: Get Bot Statistics
      operationId: Get Bot Statistics
      description: |-
        Developers see as much raw statistics data as possible.

        For example, "totalCurrentInstances" would show the real number, whereas an end user calling the /appInfo API would see a summary or range for this value.
      tags:
        - Execution Statistics and Logs
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  totalCurrentUsers:
                    type: integer
                  totalCurrentInstances:
                    type: integer
                  totalExecutions:
                    type: integer
                  totalExecutionTime:
                    type: integer
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        version:
                          type: string
                        status:
                          type: integer
                        creationDate:
                          type: string
                        creationDateMs:
                          type: integer
                        statusChangeDate:
                          type: string
                        statusChangeDateMs:
                          type: integer
                        totalExecutions:
                          type: integer
                        averageExecutionTime:
                          type: integer
                        successfulExecutions:
                          type: integer
                        failedExecutions:
                          type: integer
                      required:
                        - version
                        - status
                        - creationDate
                        - creationDateMs
                        - statusChangeDate
                        - statusChangeDateMs
                        - totalExecutions
                        - averageExecutionTime
                        - successfulExecutions
                        - failedExecutions
              example:
                resultCode: 0
                totalCurrentUsers: 600
                totalCurrentInstances: 1578
                totalExecutions: 1000
                totalExecutionTime: 15000000
                versions:
                  - version: 1.0.1
                    status: 4
                    creationDate: '2018-01-31T20:06:35Z'
                    creationDateMs: 1517429195000
                    statusChangeDate: '2018-07-03T19:39:29Z'
                    statusChangeDateMs: 1530646769000
                    totalExecutions: 1000
                    averageExecutionTime: 15000
                    successfulExecutions: 967
                    failedExecutions: 33
                  - version: 1.0.0.baf12cae
                    status: 7
                    creationDate: '2015-08-01T12:12:12-07:00'
                    creationDateMs: 1441125566000
                    statusChangeDate: '2015-08-25T12:12:12-07:00'
                    statusChangeDateMs: 1443199175421
                    totalExecutions: 1000
                    averageExecutionTime: 15000
                    successfulExecutions: 967
                    failedExecutions: 33


  /cloud/developer/executionHistory:
    get:
      summary: Get Execution History
      operationId: Get Execution History
      description: |-
        For each execution event, the statistics includes the request date, execution time in millis, and the result code (see the table below).
        
        | Result code | Meaning                  | Possible causes                                                                                                               |
        |:-----------:|--------------------------|-------------------------------------------------------------------------------------------------------------------------------|
        |      0      | Successful execution     |                                                                                                                               |
        |      1      | Bot error                | Program bug or run-time error                                                                                                 |
        |      2      | Execution timeout        | Program was terminated by a timeout                                                                                           |
        |     -1      | Internal server error    | Network issues, the runtime service is unavailable or denies the access.                                                      |
        |     -2      | Request processing error | Misconfigured input, or parsing error for the returned data from the bot.                                                     |
        |     -3      | Request timeout          | Read response timeout. In the development environment, the limit is 300 seconds, in a production environment, it can be less. |
        
        The API returns the execution history of a bot within specified date range.

        The result is always ordered by execution's request date.
        The order can be chronological or in anti-chronological (newest first).

        The execution history, even filtered by parameters and limited by dates, can be very large.
        The actual number of execution history events that match the request parameters is displayed in the 'executionsCount' field of the response.
        The number of execution history events returned never exceeds 500 (the 'executionDisplayed' field of the response).
        The maximum number of displayed events can be set using the 'rowCount' parameter. By default, rowCount=200.
      tags:
        - Execution Statistics and Logs
      security:
        - userApiKey: []
      parameters:
        - name: appInstanceId
          in: query
          description: Return data for the specific bot instance
          schema:
            type: string
        - name: bundle
          in: query
          description: >-
            Bot bundle ID.
            Returns data for the public or latest version of bot depending on the 'developer' parameter value.
            The parameter is required if the bot instance ID is not specified.
          schema:
            type: string
        - name: developer
          in: query
          description: >-
            'True' means the developer version, 'false' (default) means public version.
            The parameter is ignored if the bot instance ID is specified.
          schema:
            type: boolean
        - name: flow
          in: query
          description: Filter by the execution flow.
          schema:
            type: string
        - name: trigger
          in: query
          description: Filter by trigger.
          schema:
            type: string
        - name: errorsOnly
          in: query
          description: If true then only failed executions are returned.
          schema:
            type: boolean
        - name: startDate
          in: query
          description: Execution history start date.
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          description: Execution history end date.
          required: true
          schema:
            type: string
        - name: rowCount
          in: query
          description: The maximun number of the records to display, default is 200.
          schema:
            type: string
        - name: sortOrder
          in: query
          description: asc (oldest executions first) or desc (newest executions first).
          schema:
            type: string
      responses:
        '200':
          description: Execution History
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  version:
                    type: string
                  appVersionId:
                    type: integer
                  executionsCount:
                    type: integer
                  executionsDisplayed:
                    type: integer
                  executions:
                    type: array
                    items:
                      type: object
                      properties:
                        requestDate:
                          type: string
                        requestDateMs:
                          type: integer
                        resultCode:
                          type: integer
                        appInstanceId:
                          type: integer
                        flow:
                          type: integer
                        triggers:
                          type: integer
                        functionName:
                          type: string
                        functionStartDate:
                          type: string
                        locationId:
                          type: integer
                        server:
                          type: string
                        eventsCount:
                          type: integer
                        eventDate:
                          type: string
                        eventDateMs:
                          type: integer
                        executionTimeMs:
                          type: integer
                        logData:
                          type: string
              example:
                resultCode: 0
                version: 1.0.6
                appVersionId: 586
                executionsCount: 152
                executionsDisplayed: 1
                executions:
                  - requestDate: '2023-06-16T00:46:29.058Z'
                    requestDateMs: 1686876389058
                    resultCode: 1
                    appInstanceId: 1167
                    flow: 0
                    triggers: 1
                    functionName: bot__com-ppc-Lighting__277_586
                    functionStartDate: '2017-11-17T21:05:03Z'
                    locationId: 235495
                    server: B2
                    eventsCount: 0
                    eventDate: '2023-06-16T00:46:29.052Z'
                    eventDateMs: 1686876389052
                    executionTimeMs: 20
                    logData: |-
                      Logs: []

                      Tracebacks: [Traceback (most recent call last):
                      ,   File "./lambda.py", line 30, in lambda


  /cloud/developer/executionInfo:
    get:
      summary: Get Execution Info
      operationId: Get Execution Info
      description: Information about specific execution of particular bot instance, including the log data.
      tags:
        - Execution Statistics and Logs
      security:
        - userApiKey: []
      parameters:
        - name: appInstanceId
          in: query
          description: Bot instance ID.
          required: true
          schema:
            type: string
        - name: flow
          in: query
          description: Execution flow.
          required: true
          schema:
            type: string
        - name: requestDateMs
          in: query
          description: Execution datetime millis.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution Info
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  appVersionId:
                    type: integer
                  execution:
                    type: object
                    properties:
                      requestDate:
                        type: string
                      requestDateMs:
                        type: integer
                      resultCode:
                        type: integer
                      appInstanceId:
                        type: integer
                      flow:
                        type: integer
                      appVersionId:
                        type: integer
                      triggers:
                        type: integer
                      functionName:
                        type: string
                      functionStartDate:
                        type: string
                      locationId:
                        type: integer
                      server:
                        type: string
                      eventsCount:
                        type: integer
                      eventDate:
                        type: string
                      eventDateMs:
                        type: integer
                      executionTimeMs:
                        type: integer
                      logData:
                        type: string
              example:
                resultCode: 0
                appVersionId: 0
                execution:
                  requestDate: '2023-06-16T00:46:29.058Z'
                  requestDateMs: 1686876389058
                  resultCode: 1
                  appInstanceId: 1167
                  flow: 0
                  appVersionId: 586
                  triggers: 1
                  functionName: bot__com-ppc-Lighting__277_586
                  functionStartDate: '2017-11-17T21:05:03Z'
                  locationId: 235495
                  server: B2
                  eventsCount: 0
                  eventDate: '2023-06-16T00:46:29.052Z'
                  eventDateMs: 1686876389052
                  executionTimeMs: 20
                  logData: |-
                    Logs: []

                    Tracebacks: [Traceback (most recent call last):
                    File "./lambda.py", line 30, in lambda_handler,
                    File "./botengine.py", line 6603, in _run,
                    File "./bot.py", line 85, in run,
                    File "./controller.py", line 701, in is_version_updated,
                    AttributeError: 'Controller' object has no attribute 'version'
                    ]


  /cloud/developer/cloudwatchlog:
    put:
      summary: Enable/Disable CloudWatch Logging
      operationId: Enable/Disable CloudWatch Logging
      description: |-
        Enable/disable logging in AWS CloudWatch for a specific bot instance and flow.
  
        * Developer can enable logging for their bot instance at any time and for any period of time.
        * Developer can disable logging for their bot instance at any time.

        While logging is enabled, the bot's input contains two additional parameters: `cloudWatchLogGroup` and `cloudWatchLogStream`
        
        Logging status:

        | Value | Meaning          |
        |:-----:|------------------|
        |   1   | Logging enabled  |
        |   2   | Logging disabled |
      tags:
        - Execution Statistics and Logs
      security:
        - userApiKey: []
      parameters:
        - name: appInstanceId
          in: query
          description: Bot instance ID
          required: true
          schema:
            type: string
        - name: flow
          in: query
          description: Execution flow
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: Logging status (1 to enable logging, 2 to disable logging)
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          description: Logging end date. Required, if status=1
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    get:
      summary: Get CloudWatch Log Info
      operationId: Get CloudWatch Log Info
      description: ''
      tags:
        - Execution Statistics and Logs
      security:
        - userApiKey: []
      parameters:
        - name: appInstanceId
          in: query
          description: Bot instance ID
          required: true
          schema:
            type: string
        - name: flow
          in: query
          description: Execution flow
          required: true
          schema:
            type: string
      responses:
        '200':
          description: CloudWatch Log Info
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  cloudWatchLog:
                    type: object
                    properties:
                      groupName:
                        type: string
                        description: |-
                          AWS CloudWatch Log Group name.
                          The log group is common for all instances of the bot.<br>
                          Format: /Bots/_cloudIndex_/_appId_
                      streamName:
                        type: string
                        description: |-
                          AWS CloudWatch Log Stream name. Each bot instance is assigned an individual log stream.<br>
                          Format: Id=_appInstanceId_;flow=_flow_
                      retentionInDays:
                        type: integer
                        description: The log group's retention setting
                      endDate:
                        type: string
                        description: Datetime after which logging automatically stops
                      lastEventDate:
                        type: string
                        description: The datetime of the most recent log event in the log stream
                      status:
                        type: integer
                        description: |-
                          1 - logging is on<br>
                          2 - logging is off
              example:
                resultCode: 0
                cloudWatchLog:
                  groupName: /Bots/SBOX/277/
                  streamName: Id=1167;flow=0
                  retentionInDays: 90
                  endDate: '2023-07-30T00:00:00Z'
                  lastEventDate: '2023-07-23T18:01:05.108Z'
                  status: 1


  /cloud/developer/cloudwatchlog/export:
    post:
      summary: Create an export task
      operationId: Create an export task
      description: |-
        Create the export task to export the log stream from AWS CloudWatch to S3 for a specific bot instance and flow.

        * Only developers can export log streams.
        * The developer must have admin access to the bot instance location.
      tags:
        - Execution Statistics and Logs
      security:
        - userApiKey: []
      parameters:
        - name: appInstanceId
          in: query
          description: Bot instance ID
          required: true
          schema:
            type: string
        - name: flow
          in: query
          description: Execution flow
          required: true
          schema:
            type: string
        - name: startDate
          in: query
          description: Start date of log events to export
          required: true
          schema:
            type: string
        - name: endDate
          in: query
          description: End date of log events to export
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  logExport:
                    type: object
                    properties:
                      appInstanceId:
                        type: integer
                      bundle:
                        type: string
                      startDate:
                        type: string
                      endDate:
                        type: string
                      statusCode:
                        type: string
                      taskId:
                        type: string
              example:
                resultCode: 0
                logExport:
                  appInstanceId: 12345
                  bundle: com.ppc.SomeBot
                  startDate: '2023-12-17T12:34:00'
                  endDate: '2023-12-18T12:34:00'
                  statusCode: SUBMITTED
                  taskId: 19efa208-4f61-49ba-8899-6edd8b4b3006

    get:
      summary: Get Export Status
      operationId: Get Export Status
      description: |-
        Inspect the status of an export task and obtain the pre-signed URL(s) to the exported files.

        * A large log stream can be exported to multiple files.
        * The export files are gziped.

        Possible status codes are:

        * CANCELLED
        * COMPLETED
        * FAILED
        * PENDING
        * PENDING_CANCEL
        * RUNNING
      tags:
        - Execution Statistics and Logs
      security:
        - userApiKey: []
      parameters:
        - name: taskId
          in: query
          description: An export task ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  logExport:
                    type: object
                    properties:
                      appInstanceId:
                        type: integer
                      bundle:
                        type: string
                      startDate:
                        type: string
                      endDate:
                        type: string
                      statusCode:
                        type: string
                      taskId:
                        type: string
                      files:
                        type: array
                        items:
                          type: string
              example:
                resultCode: 0
                logExport:
                  appInstanceId: 12345
                  bundle: com.ppc.SomeBot
                  startDate: '2023-12-17T12:34:00'
                  endDate: '2023-12-18T12:34:00'
                  statusCode: COMPLETED
                  taskId: 19efa208-4f61-49ba-8899-6edd8b4b3006
                  files:
                    - >-
                      https://s3.us-east-1.amazonaws.com/sbox.logs/Bots/10585/19efa208-4f61-49ba-8899-6edd8b4b3006/Id%3D10585%3Bflow%3D0/000000.gz?response-content-disposition=inline&X-Amz-Security-Token={security_token}&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20231218T070632Z&X-Amz-SignedHeaders=host&X-Amz-Expires=43200&X-Amz-Credential={credential}&X-Amz-Signature={signature}


  /cloud/appstore/organizations/{organizationId}:
    post:
      summary: Add Bot to Organization
      operationId: Add Bot to Organization
      description: |-
        A bot must belong to one or more organizations and must be approved for purchasing by an organization administrator.
      
        There is a two steps association with organizations process for all bots:
        
        1. A bot developer proposes to use a bot in specific organization.
        2. An organization admin (with the editor privilege) approves or rejects it.
        
        A bot can be assigned on a location only if the location belongs to an organization, and the organization administrator has approved the bot.
        A bot can be assigned on an organization only if it is approved for this organization.
        
        | Approval Status | Name |
        | :-------------: | ---- |
        | 0 | Proposed |
        | 1 | Approved |
        | 2 | Rejected |
        
        A bot developer proposes to use a bot in specific organization.
      tags:
        - End-User Bot Shop APIs
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    put:
      summary: Approve Bot for Organization
      operationId: Approve Bot for Organization
      description: An organization admin (with the editor privilege) approves or rejects it.
      tags:
        - End-User Bot Shop APIs
      security:
        - adminApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
        - name: status
          in: query
          description: |-
            Approval status:<br>
            1 = approve<br>
            2 = reject
          required: true
          schema:
            type: integer
        - name: development
          in: query
          description: Is for testing purposes, default is 'false'
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    delete:
      summary: Remove Bot Organization
      operationId: Remove Bot Organization
      description: ''
      tags:
        - End-User Bot Shop APIs
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot
          required: true
          schema:
            type: string
        - name: organizationId
          in: path
          description: Organization ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0


  /cloud/appstore/organizations:
    get:
      summary: Get Bot Organizations
      operationId: Get Bot Organizations
      description: This API returns all organizations assisiated with the bot.
      tags:
        - End-User Bot Shop APIs
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Bot Organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  organizations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        status:
                          type: integer
                        development:
                          type: boolean
                        name:
                          type: string
                        domainName:
                          type: string
              example:
                resultCode: 0
                organizations:
                  - id: 1
                    status: 1
                    development: true
                    name: Care Daily
                    domainName: PPC


  /cloud/appstore/search:
    get:
      summary: Search Bots
      operationId: Search Bots
      description: |-
        Search bots by a location or an organization.
        The location must belong to some organization to purchase a bot.
      tags:
        - End-User Bot Shop APIs
      security:
        - userApiKey: []
      parameters:
        - name: locationId
          in: query
          description: Return bots available for this location
          schema:
            type: integer
        - name: organizationId
          in: query
          description: Return bots available for this organization
          schema:
            type: integer
        - name: compatible
          in: query
          description: Filter by bots that are compatible with the location or the organization.
          schema:
            type: boolean
        - name: searchBy
          in: query
          description: Search in bundle or marketing information (name, author, keywords). Use * for a wildcard.
          schema:
            type: string
        - name: category
          in: query
          description: Filter by a category, i.e. 'S', 'E', etc. Multiple values are allowed.
          schema:
            type: string
        - name: core
          in: query
          description: Filter by core class
          schema:
            type: integer
        - name: lang
          in: query
          description: Preferable response language
          schema:
            type: string
        - name: objectName
          in: query
          description: Return bot objects with such name(s). Multiple values are allowed.
          schema:
            type: string
      responses:
        '200':
          description: Bots
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  apps:
                    type: array
                    items:
                      type: object
                      properties:
                        appId:
                          type: integer
                        bundle:
                          type: string
                        name:
                          type: string
                        author:
                          type: string
                        category:
                          type: string
                        description:
                          type: string
                        type:
                          type: integer
                        core:
                          type: integer
                        objects:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              objectType:
                                type: integer
                              contentType:
                                type: string
                              url:
                                type: string
                            required:
                              - name
                              - objectType
                              - contentType
                              - url
                        organizations:
                          type: array
                          items:
                            type: object
                            properties:
                              organizationId:
                                type: integer
                              status:
                                type: integer
                              development:
                                type: boolean
                      required:
                        - appId
                        - bundle
                        - name
                        - author
                        - category
                        - description
                        - type
                        - core
                        - objects
              example:
                resultCode: 0
                apps:
                  - appId: 2342
                    bundle: ai.caredaily.MyBot
                    name: My First App
                    author: Your Company
                    category: L,E
                    description: This is an example of how to run bots
                    type: 0
                    core: 1
                    objects:
                      - name: icon
                        objectType: 3
                        contentType: image/png
                        url: https://s3.amazonaws.com/sbox.application/c270b586.419
                    organizations:
                      - organizationId: 123
                        status: 0
                        development: false
                  - appId: 2345
                    bundle: com.peoplepowerco.mysecondapp
                    name: My Second App
                    author: Your Company
                    category: S,W
                    description: This is an example of how to run bots
                    type: 0
                    core: -1
                    objects:
                      - name: icon
                        objectType: 3
                        contentType: image/png
                        url: https://s3.amazonaws.com/sbox.application/eee0b586.275


  /cloud/appstore/objects/{name}:
    get:
      summary: Get Bot Object
      operationId: Get Bot Object
      description: Each bot can contain a publicly available icon and/or other images.
      tags:
        - End-User Bot Shop APIs
      parameters:
        - name: name
          in: path
          description: Object name. Use "icon" for icons.
          required: true
          schema:
            type: string
        - name: bundle
          in: query
          description: Globally unique bundle ID for the bot, i.e. ai.caredaily.MyBot
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Object Content
          content:
            image/png:
              example: |2
                    Binary .png file content


  /cloud/appstore/appInfo:
    get:
      summary: Get Bot Information
      operationId: Get Bot Information
      description: |-
        After discovering a bot, users can tap into one to learn more about it.
        This Bot Identification API does not refer to a specific bot instance, but the general bot itself.
        It combines information input from several other APIs to provides comprehensive information about the bot back to the user,
        minus the search keywords specified by the developer.
        
        The "instancesSummary" publicly displayed should be:

        * ""  (blank - less than 500 instances)
        * 500 - 1,000
        * 1,000 - 5,000
        * 5,000 - 10,000
        * 10,000 - 25,000
        * 25,000 - 50,000
        * 50,000 - 100,000
        * 100,000 - 250,000
        * 250,000 - 500,000
        * 500,000 - 1,000,000
        * 1,000,000+
        * 5,000,000+
        * 10,000,000+

        Count each instance of the bot.
      tags:
        - End-User Bot Shop APIs
      security:
        - userApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the app
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Language identifier, default is user's language or 'en'
          schema:
            type: string
        - name: lastNVersions
          in: query
          description: Max number of versions to show, default is 10
          schema:
            type: integer
        - name: objectName
          in: query
          description: Show objects with such name(s). Multiple values are allowed.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  app:
                    type: object
                    properties:
                      appId:
                        type: integer
                      bundle:
                        type: string
                      category:
                        type: string
                      type:
                        type: integer
                      core:
                        type: integer
                      trigger:
                        type: integer
                      instanceSummary:
                        type: string
                      marketing:
                        type: object
                        properties:
                          lang:
                            type: string
                          name:
                            type: string
                          author:
                            type: string
                          copyright:
                            type: string
                          description:
                            type: string
                          marketingUrl:
                            type: string
                          supportUrl:
                            type: string
                          videoUrl:
                            type: string
                          privacyUrl:
                            type: string
                          keywords:
                            type: string
                      objects:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            objectType:
                              type: integer
                            contentType:
                              type: string
                            url:
                              type: string
                      schedules:
                        type: object
                        additionalProperties:
                          type: string
                        description: Latest version schedules string map
                      communications:
                        type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: integer
                            email:
                              type: boolean
                            push:
                              type: boolean
                            sms:
                              type: boolean
                      deviceTypes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            trigger:
                              type: boolean
                            read:
                              type: boolean
                            control:
                              type: boolean
                            reason:
                              type: object
                              additionalProperties:
                                type: string
                              description: Multilingual string map
                      access:
                        type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: integer
                            trigger:
                              type: boolean
                            read:
                              type: boolean
                            control:
                              type: boolean
                            deviceType:
                              type: integer
                            reason:
                              type: object
                              additionalProperties:
                                type: string
                              description: Multilingual string map
                            deviceId:
                              type: string
                            excluded:
                              type: boolean
                      versions:
                        type: array
                        items:
                          type: object
                          properties:
                            appVersionId:
                              type: integer
                            version:
                              type: string
                            status:
                              type: integer
                            creationDate:
                              type: string
                            creationDateMs:
                              type: integer
                            statusDate:
                              type: string
                            statusDateMs:
                              type: integer
                            whatsnew:
                              type: object
                              additionalProperties:
                                type: string
                              description: Multilingual string map
              example:
                resultCode: 0
                app:
                  appId: 123
                  bundle: com.ppc.Test
                  category: L,E
                  type: 0
                  core: 1
                  instancesSummary: '500 - 1000'
                  trigger: 11
                  marketing:
                    name: My First App
                    author: Your Company
                    copyright: Copyright 2015 Your Company
                    description: This is an example of how to run apps in the bot engine
                    marketingUrl: 'https://marketingurl.com'
                    supportUrl: 'https://myurl.com/support'
                    videoUrl: 'https://youtube.com/?s=myvideo'
                    privacyUrl: 'https://myurl.com/privacy'
                  objects:
                    - name: icon
                      objectType: 3
                      contentType: image/png
                      url: >-
                        https://s3.amazonaws.com/sbox.application/eee0b586.275?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20231207T061920Z&X-Amz-SignedHeaders=host&X-Amz-Credential={credential}&X-Amz-Expires=3600&X-Amz-Signature={signature}
                  versions:
                    - appVersionId: 456
                      version: 1.0.10.8
                      creationDate: 2022-09-23T13:19:33Z
                      creationDateMs: 1663939173000
                      status: 4
                      statusDate: 2022-09-23T13:21:41Z
                      statusDateMs: 1663939301000
                      whatsnew: No new changes from 1.0.10.7
                    - appVersionId: 467
                      version: 1.0.10.7
                      creationDate: 2022-09-13T18:34:28Z
                      creationDateMs: 1663094068000
                      status: 7
                      statusDate: 2022-09-16T14:49:55Z
                      statusDateMs: 1663339795000
                      whatsnew: Fix copy and updated submodule rev b348b2c
                    - appVersionId: 531
                      version: 1.0.10.6
                      creationDate: 2022-09-13T16:18:04Z
                      creationDateMs: 1663085884000
                      status": 8
                      statusDate: 2022-09-16T14:49:55Z
                      statusDateMs: 1663339795000
                      whatsnew: Fix copy and updated submodule rev b348b2c
                  schedules:
                    ID1: 0 0 5 * * *
                    WeeklyEmail: 0 0 12 ? * FRI *
                  deviceTypes:
                    - id: 24
                      trigger: true
                      read: true
                      control: true
                      reason: Why we need to access this device
                  access:
                    - category: 1
                      trigger: true
                      read: true
                      control: true
                      reason: Why we need to access location data
                    - category: 2
                      trigger: true
                      read: true
                      control: true
                      reason: Why we need to access device files
                  communications:
                    - category: 0
                      email: true
                      push: true
                      sms: false
                    - category: 1
                      email: false
                      push: false
                      sms: false
                    - category: 2
                      email: true
                      push: true
                      sms: false
                    - category: 3
                      email: false
                      push: false
                      sms: false
                    - category: 4
                      email: false
                      push: false
                      sms: false


  /cloud/appstore/appInstance:
    post:
      summary: Purchase a New Bot Instance
      operationId: Purchase a New Bot Instance
      description: |-
        Each connected bot instance gets a unique ID to separate it from the other bot instances.

        User can only set permissions for devices that are marked compatible with the bot.

        <b>Development</b>

        When purchasing a bot, developer and active beta testers always obtain instances with 'development=true', whereas other users obtain an instances with 'development=false'.

        The bot instances with 'development=true' always run the latest version of the bot, the developer's version, if any.
        The bot instances with 'development=false' always run the currently available public version of the bot.

        <b>End Time</b>

        Bot with 'development = true' only runs for a limited period of time. The stopping time is set by the endDate attribute.
        After this time, the bot will change its status to 2 (inactive).
        The owner can restart his bot instance by changing its status to 1 (active).
        In this case, endDate is recalculated automatically (by default this is the current date plus 24 hours).

        ### Bot Instance Status

        | Status |    Name    | Description                   |
        |:------:|:----------:|:------------------------------|
        |   0    | Incomplete | Bot is not configured yet     | 
        |   1    |   Active   | Bot is configured and working |
        |   2    |  Inactive  | Bot is temporary turned off   |
      tags:
        - End-User Bot Shop APIs
      security:
        - userApiKey: []
        - adminApiKey: []
      parameters:
        - name: bundle
          in: query
          description: Globally unique bundle ID for the app
          required: true
          schema:
            type: string
        - name: locationId
          in: query
          description: Assign the bot instance to the specific user location
          schema:
            type: integer
        - name: organizationId
          in: query
          description: Assign the bot instance to the specific organization
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
                  appInstanceId:
                    type: integer
              example:
                resultCode: 0
                appInstanceId: 3965

    put:
      summary: Configure a Bot Instance
      operationId: Configure a Bot Instance
      description: |-
        The API is for changing the status or/and altering the access or communication parameters.

        <b>Tip:</b> the request body is optional - <u>there is no need for it</u> if you update nothing but Status, End Date, Development.

        <b>Access block</b>

        The access block should only contain the parameters that need to be updated for the specified bot instance.
        By default, the bot instance is allowed access to all locations and compatible devices that are required by the bot and which the user has.
        If you need to prevent the bot from accessing the specified object (device, location, or call center), add this object id in the access block with the parameter 'excluded = true'.
        If you need to enable access to an object (previously excluded from the access list), add the object id into the access block with the parameter 'excluded = false'.

        <b>Tip:</b> If you do not need to change the current access configuration, just do not include the access block in the request body.

        <b>Communications block</b>

        By default, the bot instance uses all the communication channels allowed in the bot definition.
        If you need to disable some communication channels,
        simply add an element with the corresponding category to the communications block and set the flag to "false" for those channels that you want to disable
        (do not forget to specify "true" for those channels that should not be disabled for the category).

        <b>Tip:</b> If you do not need to change the current communication channels, just do not include the communications block in the request body.
      tags:
        - End-User Bot Shop APIs
      security:
        - userApiKey: []
      parameters:
        - name: appInstanceId
          in: query
          description: Bot instance ID
          required: true
          schema:
            type: integer
        - name: status
          in: query
          description: New bot instance status
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            example:
              app:
                nickname: User-defined Nickname Here
                timezone: US/Eastern
                access:
                  - category: 1
                    locationId: 123
                  - category: 2
                  - category: 4
                    deviceId: ABC123456DEF7890
                    excluded: true
                  - category: 4
                    deviceId: SMARTPLUG01
                communications:
                  - category: 0
                    email: true
                    push: true
                    sms: false
                    msg: false
                  - category: 2
                    email: true
                    push: true
                    sms: false
                    msg: false
            schema:
              type: object
              properties:
                app:
                  type: object
                  properties:
                    nickname:
                      type: string
                    timezone:
                      type: string
                    access:
                      type: array
                      items:
                        type: object
                        properties:
                          category:
                            type: integer
                          locationId:
                            type: integer
                          deviceId:
                            type: string
                          excluded:
                            type: boolean
                        required:
                          - category
                          - deviceId
                    communications:
                      type: array
                      items:
                        type: object
                        properties:
                          category:
                            type: integer
                          email:
                            type: boolean
                          push:
                            type: boolean
                          sms:
                            type: boolean
                          msg:
                            type: boolean
                        required:
                          - category
                          - email
                          - push
                          - sms
                          - msg
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resultCode:
                    type: integer
              example:
                resultCode: 0

    get:
      summary: Get Bot Instances
      operationId: Get Bot Instances
[...]
